.rainbow{
   animation: rainbow 5s;
   animation-iteration-count: infinite;
}

@keyframes rainbow {
    0%{
        color: red;
        opacity: 0.6;
    }
    15%{
        color: orange;
        opacity: 0.6;
    }
    30%{
        color: yellow;
        opacity: 0.6;
    }
    45%{
        color: green;
        opacity: 0.6;
    }
    60%{
        color: blue;
        opacity: 0.6;
    }
    75%{
        color: indigo;
        opacity: 0.6;
    }
    90%{
        color: purple;
        opacity: 0.6;
    }
}